* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.pseudo {
    width: 180px;
    height: 50px;
    background: linear-gradient(108.62deg, #5d5fef 20.50%, #7879f1 46.42%);
    border-radius: 25.5px;
    font-family: "MS Sans Serif", Geneva sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}