*{
    margin: 0;
    padding: 0;
}
.area {
    width: 100vw;
    height: 800px;
}
.area2 {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 900px;
    height: 800px;
    background-color:  greenyellow;
}
.boxwhite1 {
    position: absolute;
    left: 65px;
    top: 65px;
    width: 150px;
    height: 150px;
    background-color:  white;
}
.boxwhite2 {
    position: absolute;
    left: 585px;
    top: 370px;
    width: 150px;
    height: 150px;
    background-color:  white;
}