.USSR {
    position: sticky;
    top: 0;
    background-color: rgb(37, 221, 13);
    color: whitesmoke;
    width: 180vm;
    height: 70px;
    text-align: center;
    font-size: 25px;
}
.USSR s {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
}
.news {
    position: absolute;
    top: 85px;
    width: 100vm;
    height: 700px;
    border: 1px solid rgb(37, 221, 13);
}
.news s {
    position: absolute;
    font-size: 18px;
    position: absolute;
    margin-top: 12px;
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
}